<div>
  <div class="boxReturn" (click)="navigate('')">
    <div class="overlay" style="padding-top: 3px;">Regresar</div>
  </div>
  <h1>Registro de Trabajadores</h1>
</div>
<form #trabajadorForm="ngForm" (ngSubmit)="onInsertTrabajador(trabajadorForm)" id="trabajadorForm" class="form1">
  <div class="trabajador1">
    <div class="input-group">
      <div class="input-item">
        <label for="dni">Número de documento:</label>
        <input maxlength="8" placeholder="Ingresar número de documento" type="text" id="dni" name="dni" ngModel required>
      </div>
      <div class="input-item">
        <label for="nombre">Nombre:</label>
        <input placeholder="Ingresar Nombre" type="text" id="nombre" name="nombre" ngModel required>
      </div>
      <div class="input-item">
        <label for="apellido">Apellido:</label>
        <input placeholder="Ingresar Apellido" type="text" id="apellido" name="apellido" ngModel required>
      </div>
      <div class="input-item">
        <label for="sede">Sede:</label>
        <input placeholder="Ingresar Sede de Labores" type="number" id="sede" name="sede" ngModel required>
      </div>
      <div class="input-item">
        <label for="tHorario">Tipo de Horario:</label>
        <select id="tHorario" name="tHorario" ngModel required>
          <option *ngFor="let horario of results" [value]="horario.id_Horario">
            {{horario.hora_Inicio}} - {{horario.hora_Final}}
          </option>
        </select>
      </div>
      <div class="input-item">
        <label for="tContrato">Tipo de contrato:</label>
        <select id="tContrato" name="tContrato" ngModel required>
          <option *ngFor="let horario of results" [value]="horario.id_Horario">
            {{horario.hora_Inicio}} - {{horario.hora_Final}}
          </option>
        </select>
      </div>
      <div class="input-item">
        <label for="fecha_Ingreso">Fecha de Ingreso:</label>
        <input type="date" id="fecha_Ingreso" name="fecha_Ingreso" ngModel required>
      </div>
      <div class="input-item">
        <label for="fecha_Cese">Fecha de Cese:</label>
        <input type="date" id="fecha_Cese" name="fecha_Cese" ngModel required>
      </div>
      <div class="input-item">
        <label for="email">Email:</label>
        <input placeholder="Ingresar Email" type="text" id="email" name="email" ngModel required>
      </div>
      <div class="input-item">
        <label for="numero_Contact">Numero de Contacto:</label>
        <input placeholder="Ingresar Número de Contacto" type="text" id="numero_Contact" name="numero_Contact" ngModel required>
      </div>
    </div>
  </div>
  <div>
    <button type="submit">Enviar</button>
  </div>
</form>
    <!-- Mensaje de confirmación o error -->
<!-- Tabla para mostrar los resultados-->
<div *ngIf="results.length > 0" class="form2" >
      <div *ngFor="let result of results">
        <div class="containerHorario">
          <label>Número Horario :</label>
          {{ result.id_Horario }}
          <br/>
          <label>Hora de Inicio: </label>
          {{ result.hora_Inicio }}
          <br/>
          <label>Hora Final: </label>
          {{ result.hora_Final }}
          <br/>
          <label>Cantidad de Horas Trabajadas: </label>
          {{ result.canT_HORAS_TRABJ }}
        </div>
        <br/>
      </div>
</div>
<div *ngIf="results.length === 0">
  No hay datos disponibles.
</div>

<!-- Mensaje de confirmación o error-->
<div *ngIf="message" class="message">
  {{ message }}
</div>

