<div>
  <div class="boxReturn" (click)="navigate('')">
    <div class="overlay" style="padding-top: 3px;">Regresar</div>
  </div>
  <h1>Registro de Trabajadores</h1>
</div>
  <form #trabajadorForm="ngForm" (ngSubmit)="onInsertTrabajador(trabajadorForm)" id="trabajadorForm" class="form1">
    <div class="trabajador1">
      <div class="input-group">
        <div class="input-item">
          <label for="nombre1">Nombre:</label>
          <input placeholder="Ingresar Nombre" type="text" id="nombre1" name="nombre1" ngModel required>
        </div>
        <div class="input-item">
          <label for="apellido1">Apellido:</label>
          <input placeholder="Ingresar Apellido" type="text" id="apellido1" name="apellido1" ngModel required>
        </div>
        <div class="input-item">
          <label for="Sede1">Sede:</label>
          <input placeholder="Ingresar Sede de Labores" type="number" id="Sede1" name="Sede1" ngModel required>
        </div>
        <div class="input-item">
          <label for="cargo1">Tipo de Horario:</label>
          <input type="text" id="THorario" name="THorario" ngModel required>
        </div>
        <div class="input-item">
          <label for="Email">Email:</label>
          <input placeholder="Ingresar Email" type="text" id="Email" name="Email" ngModel required>
        </div>
        <div class="input-item">
          <label for="NumberContact">Numero de Contacto:</label>
          <input placeholder="Ingresar Número de Contacto" type="text" id="NumberContact" name="NumberContact" ngModel required>
        </div>
      </div>
    </div>
    <div>
      <button type="submit">Enviar</button>
    </div>
  </form>
    <!-- Mensaje de confirmación o error -->
  <div *ngIf="message" class="message">
    {{ message }}
  </div>
  <form class="form2">
    <div *ngIf="results.length > 0" class="resultados">
      <div *ngFor="let result of results">
        <div *ngFor="let feature of result.resultado">
          <h1>HOLA {{feature.Cant_Horas_Trabj}}</h1>
        </div>
      </div>
    </div>
    <div *ngIf="results.length === 0">
      No hay datos disponibles.
    </div>
  </form>


