<div>
  <div class="boxReturn" (click)="navigate('');cook()">
    <div class="overlay">Regresar</div>
  </div>
  <h1>Formulario de Trabajadores</h1>
</div>
<form id="trabajadorForm">
    <div class="trabajador1">
        <div class="input-group">
            <div class="input-item">
                <label for="nombre1">Valor 1:</label>
                <input type="text" id="nombre1" name="nombre1" required>
            </div>
            <div class="input-item">
                <label for="apellido1">Valor 2:</label>
                <input type="text" id="apellido1" name="apellido1" required>
            </div>
            <div class="input-item">
                <label for="edad1">Valor 3:</label>
                <input type="number" id="edad1" name="edad1" required>
            </div>
            <div class="input-item">
                <label for="cargo1">Valor 4:</label>
                <input type="text" id="cargo1" name="cargo1" required>
            </div>
        </div>
    </div>

    <div class="trabajador2">
        <div class="input-group">
            <div class="input-item">
                <label for="nombre2">Valor 5:</label>
                <input type="text" id="nombre2" name="nombre2" required>
            </div>
            <div class="input-item">
                <label for="apellido2">Valor 6:</label>
                <input type="text" id="apellido2" name="apellido2" required>
            </div>
            <div class="input-item">
                <label for="edad2">Valor 7:</label>
                <input type="number" id="edad2" name="edad2" required>
            </div>
            <div class="input-item">
                <label for="cargo2">Valor 8:</label>
                <input type="text" id="cargo2" name="cargo2" required>
            </div>
        </div>
    </div>

    <div>
      <button type="submit">Enviar</button>
    </div>
</form>

