.form1 {
  width: 30vw;
  height: 25%;
  left: 10px;
  padding-right: 100px;
  position: relative;
  background-color: #ffffff; /* Fondo del formulario en blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.form1::-webkit-scrollbar{
  width: 7px;
  background:#ffffff ;
}

.form1::-webkit-scrollbar-thumb{
  background:#989dec;
  border-radius: 5px;
}

.form2 {
  width: 30vw;
  height: 49%;
  left: 10px;
  padding-right: 100px;
  position: relative;
  background-color: #ffffff; /* Fondo del formulario en blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.form2::-webkit-scrollbar{
  width: 7px;
  background:#ffffff ;
}

.form2::-webkit-scrollbar-thumb{
  background:#989dec;
  border-radius: 5px;
}

.listSedes{
  width: 30vw;
  height: 49%;
  right: 10px;
  top:20px;
  padding-right: 100px;
  position: absolute;
  background-color: #ffffff; /* Fondo del formulario en blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}


.sede {
  display:inline-block; /* Mostrar los divs padre uno al lado del otro */
  /* vertical-align: top; /* Alinearlos verticalmente arriba */
}

.input-group {
  display: block;
  flex-direction: column; /* Apilar los elementos verticalmente dentro de cada grupo */
  margin-right: 20px; /* Espacio entre las columnas */
}

.input-item {
  display:  inline-block;
  margin-bottom: 10px;
  width: 90%;
}

label {
  font-weight: bold;
  color: #4750E6; /* Color de etiqueta en el color representativo */
}

input[type="text"],
input[type="number"],
input[type="date"],
select,

button {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
/*  color: #4750E6; /* Color del texto en el color representativo */
}

button {
  background-color: #4750E6; /* Botón en el color representativo */
  color: #fff; /* Texto del botón en blanco */
  border: none;
  cursor: pointer;
  width: 30%;
}

button:hover {
  background-color: #5a5fd6; /* Cambio de color al pasar el cursor */
}


.boxReturn{
  color: #fff;
  width: 10%;
  height: 25px;
  background-position: center;
  background-color: #5a5fd6;
  display: flex;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  border-radius: 5px;
  margin-top:10px;
  margin-left:10px;
}
/*Secciones ID*/
.message {
  margin: 20px;
  color: red;
}
