/* src/app/app.component.css */
.header {
  text-align: center;
  margin-bottom: 20px;

}

.container {
  display: flex;
  position: relative;
  top: 30px;
  left: 70px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90vw;
  height: 90vh;
}

.box {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  border: 2px solid #45cb62;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}




.registro{
  top: 0;
  left: 0;
  width: 49%;
  height: 48%;
}

.consulta{
  bottom: 0;
  left: 0;
  width: 49%;
  height: 50%;
}

.util{
  bottom:0;
  right: 0;
  width: 50%;
  height: 50%;
}

.asistencia{
  top:0;
  right: 0;
  width: 50%;
  height: 48%;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.box:active {
  transform: scale(0.95);
}

.box .overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

#box1 {
  background-image: url('./assets/registrar.jpg');
}

#box2 {
  background-image: url('./assets/consultar.jpg');
}

#box3 {
  background-image: url('./assets/asistencia.png');
}

#box4 {
  background-image: url('./assets/graficos.jpg');
}
