<div class="container">
  <div class="box registro" id="box1" (click)="navigate('registro')">
    <div class="overlay">Registrar</div>
  </div>
  <div class="box consulta" id="box2" (click)="navigate('consulta')">
    <div class="overlay">Consultar</div>
  </div>
  <div class="box asistencia" id="box3" (click)="navigate('asistencia')">
    <div class="overlay">Control Asistencia</div>
  </div>
  <div class="box util" id="box4" (click)="navigate('util')">
    <div class="overlay">Útil</div>
  </div>
</div>

