.boxReturn{
  color: #fff;
  width: 10%;
  height: 25px;
  background-position: center;
  background-color: #5a5fd6;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  margin-top:10px;
  margin-left:10px;
}

.search-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.buttonBuscar{
  margin-left: 10px;
  margin-bottom: 20px;
}

.mat-form-field {
  flex: 1 1 200px;
}
.table-container {
  margin: 20px;
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 2000px; /* Ajusta este valor según el ancho total de tus columnas */
}

.mat-table-sticky .sticky {
  position: sticky;
  left: 0;
  z-index: 1;
  background: white;
}

.mat-table-sticky .sticky:nth-of-type(2) {
  left: 90px; /* Ajusta este valor según el ancho de tu primera columna */
  z-index: 2;
}

.mat-table-sticky .sticky {
  z-index: 3;
  background: #fff;
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky .sticky:nth-of-type(2) {
  z-index: 4;
}

.nombre-column {
  min-width: 200px; /* Ajusta el ancho según tus necesidades */
}

.horario-column {
  min-width: 150px; /* Ajusta el ancho según tus necesidades */
}

.tipo-contrato-column {
  min-width: 150px; /* Ajusta el ancho según tus necesidades */
}

.fecha-ingreso-column {
  min-width: 150px; /* Ajusta el ancho según tus necesidades */
}

.actividad-column {
  min-width: 150px; /* Ajusta el ancho según tus necesidades */
}

.fecha-cese-column {
  min-width: 150px; /* Ajusta el ancho según tus necesidades */
}

.nombre-sede-column {
  min-width: 200px; /* Ajusta el ancho según tus necesidades */
}

.email-column {
  min-width: 200px; /* Ajusta el ancho según tus necesidades */
}

.numero-contact-column {
  min-width: 150px; /* Ajusta el ancho según tus necesidades */
}


.table-container::-webkit-scrollbar{
  height: 7px;
  background:#ffffff ;
}

.table-container::-webkit-scrollbar-thumb{
  background:#989dec;
  border-radius: 5px;
}
